.header {
  background: #202020;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}
header .inner-logo a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.body .sider {
  width: 150px;
  background: #323232;
  color: #fff;
  height: calc(100vh - 56px);
  position: fixed;
  top: 56px;
  left: 0;
  z-index: 100;
}
.body .main {
  margin: 15px;
  position: relative;
  left: 150px;
  width: calc(100% - 180px);
}
.sider .inner-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sider .inner-menu ul li a {
  color: #fff;
  display: block;
  padding: 6px 10px;
  border-bottom: 1px solid #515151;
}
/* Show Alert */
[show-alert] {
  position: fixed;
  right: 15px;
  top: 70px;
  width: max-content;
  z-index: 999;
}
[show-alert].alert-hidden {
  animation: alert-hidden 0.5s both;
}
@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}
[show-alert] [close-alert] {
  background: white;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 100%;
  cursor: pointer;
  margin-left: 5px;
}
