extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main 
    .container
        h1(class="m-4") 404 not found 
        button(onclick = (" history.back() ") class="btn btn-secondary m-4") Trở lại